{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Музыка{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'music_app/css/style.css' %}">
</head>
<body>

<header class="site-header">
    <div class="header-left">
        <a href="/">
            <img src="{% static 'music_app/images/logo.jpg' %}" alt="Logo" class="logo clickable-logo">
        </a>
    </div>

    <div class="header-center">
        <input type="text" class="search-input" placeholder="что хочешь послушать?">
    </div>

    <div class="header-right">
        {% if user.is_authenticated %}
            <span class="account-text">Account</span>
            <a href="{% url 'logout' %}" class="logout-text">Logout</a>
        {% else %}
            <a href="{% url 'login' %}" class="login-link">Login</a>
        {% endif %}
    </div>
</header>

<main>
    {% block content %}
    {% endblock %}
</main>

<script src="{% static 'music_app/js/expand.js' %}"></script>
<script src="{% static 'music_app/js/player.js' %}"></script>
</body>
</html>



